/**
 * This file contains the Tailwind CSS styles for Luke's image gallery project.
 * It includes base styles for the HTML document, font-face declarations for the Inter font family, and component styles for buttons, inputs, and images.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }

  @supports (font-variation-settings: normal) {
    html {
      font-family: 'Inter var', sans-serif;
    }
  }

  @font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: normal;
    font-named-instance: 'Regular';
    src: url('./assets/Inter/Inter-roman.var.woff2?v=3.19') format('woff2');
  }

  @font-face {
    font-family: 'Inter var';
    font-weight: 100 900;
    font-display: swap;
    font-style: italic;
    font-named-instance: 'Italic';
    src: url('./assets/Inter/Inter-italic.var.woff2?v=3.19') format('woff2');
  }
}

@layer components {
  .btn {
    @apply px-5 py-2.5 inline-flex justify-center items-center gap-2 rounded-lg border border-transparent font-medium text-base outline-none transition-all duration-300 focus:outline-none focus:ring-4;
    @apply ring-opacity-75 !important;
  }

  .btn-primary {
    @apply bg-indigo-500 text-white hover:text-white hover:bg-indigo-700 focus:ring-indigo-300;
  }

  .btn-secondary {
    @apply bg-white text-red-700 border-red-700 hover:bg-red-700 hover:text-white hover:border-x-red-700 focus:ring-red-300;
  }

  .default-input {
    @apply py-3 px-4 block w-full rounded-lg text-sm outline-none transition-all duration-300 border border-gray-200 text-gray-500 focus:border-gray-300/75 focus:outline-none focus:ring-4 focus:ring-gray-300 focus:!ring-opacity-75;
  }
}
